VITE_TARGET_CHAIN_ID=1
VITE_RPC_URL=
VITE_WALLETCONNECT_PROJECT_ID=
VITE_OVERTIME_HOOK_ADDRESS=
VITE_OVERTIME_ROUTER_ADDRESS=
VITE_OVERTIME_TOKEN_ADDRESS=
VITE_WETH_ADDRESS=0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
VITE_MINIMUM_TOKEN_OUT_WEI=
